body{
    background-color: yellow;
}
.padre{
    background-color: yellow;
    padding: 5px;
    margin: 5px;
}
.titulo, .contenido, .pie{
    background-color: red;
    padding: 5px;
    margin-bottom: 5px;

}
.foto{
    background-color: greenyellow;
    width: 45%;
    height: 60%;
}
img{
    width: 100%;
    height: 100%;
}
.texto{
    background-color: green;
    width: 100%;
    height: 100%;
    padding: 5px;
}
.contenido{
    display: flex;
}

.titulo, .pie{
   
    text-align: center;
}